@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-outline-black {
    text-shadow: -2px -2px 0 theme('colors.black'),
    -2px -1px 0 theme('colors.black'),
    -2px 0px 0 theme('colors.black'),
    -2px 1px 0 theme('colors.black'),
    -2px 2px 0 theme('colors.black'),
    -1px -2px 0 theme('colors.black'),
    -1px -1px 0 theme('colors.black'),
    -1px 0px 0 theme('colors.black'),
    -1px 1px 0 theme('colors.black'),
    -1px 2px 0 theme('colors.black'),
    0px -2px 0 theme('colors.black'),
    0px -1px 0 theme('colors.black'),
    0px 0px 0 theme('colors.black'),
    0px 1px 0 theme('colors.black'),
    0px 2px 0 theme('colors.black'),
    1px -2px 0 theme('colors.black'),
    1px -1px 0 theme('colors.black'),
    1px 0px 0 theme('colors.black'),
    1px 1px 0 theme('colors.black'),
    1px 2px 0 theme('colors.black'),
    2px -2px 0 theme('colors.black'),
    2px -1px 0 theme('colors.black'),
    2px 0px 0 theme('colors.black'),
    2px 1px 0 theme('colors.black'),
    2px 2px 0 theme('colors.black');
  }

  .text-outline-blue {
    text-shadow: -2px -2px 0 theme('colors.blue'),
    -2px -1px 0 theme('colors.blue'),
    -2px 0px 0 theme('colors.blue'),
    -2px 1px 0 theme('colors.blue'),
    -2px 2px 0 theme('colors.blue'),
    -1px -2px 0 theme('colors.blue'),
    -1px -1px 0 theme('colors.blue'),
    -1px 0px 0 theme('colors.blue'),
    -1px 1px 0 theme('colors.blue'),
    -1px 2px 0 theme('colors.blue'),
    0px -2px 0 theme('colors.blue'),
    0px -1px 0 theme('colors.blue'),
    0px 0px 0 theme('colors.blue'),
    0px 1px 0 theme('colors.blue'),
    0px 2px 0 theme('colors.blue'),
    1px -2px 0 theme('colors.blue'),
    1px -1px 0 theme('colors.blue'),
    1px 0px 0 theme('colors.blue'),
    1px 1px 0 theme('colors.blue'),
    1px 2px 0 theme('colors.blue'),
    2px -2px 0 theme('colors.blue'),
    2px -1px 0 theme('colors.blue'),
    2px 0px 0 theme('colors.blue'),
    2px 1px 0 theme('colors.blue'),
    2px 2px 0 theme('colors.blue');
  }

  .text-outline-yellow {
    text-shadow: -2px -2px 0 theme('colors.yellow'),
    -2px -1px 0 theme('colors.yellow'),
    -2px 0px 0 theme('colors.yellow'),
    -2px 1px 0 theme('colors.yellow'),
    -2px 2px 0 theme('colors.yellow'),
    -1px -2px 0 theme('colors.yellow'),
    -1px -1px 0 theme('colors.yellow'),
    -1px 0px 0 theme('colors.yellow'),
    -1px 1px 0 theme('colors.yellow'),
    -1px 2px 0 theme('colors.yellow'),
    0px -2px 0 theme('colors.yellow'),
    0px -1px 0 theme('colors.yellow'),
    0px 0px 0 theme('colors.yellow'),
    0px 1px 0 theme('colors.yellow'),
    0px 2px 0 theme('colors.yellow'),
    1px -2px 0 theme('colors.yellow'),
    1px -1px 0 theme('colors.yellow'),
    1px 0px 0 theme('colors.yellow'),
    1px 1px 0 theme('colors.yellow'),
    1px 2px 0 theme('colors.yellow'),
    2px -2px 0 theme('colors.yellow'),
    2px -1px 0 theme('colors.yellow'),
    2px 0px 0 theme('colors.yellow'),
    2px 1px 0 theme('colors.yellow'),
    2px 2px 0 theme('colors.yellow');
  }

  .text-outline-white {
    text-shadow: -2px -2px 0 theme('colors.white'),
    -2px -1px 0 theme('colors.white'),
    -2px 0px 0 theme('colors.white'),
    -2px 1px 0 theme('colors.white'),
    -2px 2px 0 theme('colors.white'),
    -1px -2px 0 theme('colors.white'),
    -1px -1px 0 theme('colors.white'),
    -1px 0px 0 theme('colors.white'),
    -1px 1px 0 theme('colors.white'),
    -1px 2px 0 theme('colors.white'),
    0px -2px 0 theme('colors.white'),
    0px -1px 0 theme('colors.white'),
    0px 0px 0 theme('colors.white'),
    0px 1px 0 theme('colors.white'),
    0px 2px 0 theme('colors.white'),
    1px -2px 0 theme('colors.white'),
    1px -1px 0 theme('colors.white'),
    1px 0px 0 theme('colors.white'),
    1px 1px 0 theme('colors.white'),
    1px 2px 0 theme('colors.white'),
    2px -2px 0 theme('colors.white'),
    2px -1px 0 theme('colors.white'),
    2px 0px 0 theme('colors.white'),
    2px 1px 0 theme('colors.white'),
    2px 2px 0 theme('colors.white');
  }
}
